.container {
    height: 350px;
    background-color: var(--bgSoft);
    padding: 20px;
    border-radius: var(--borderRadius);
}

.title {
    font-weight: 200;
    color: var(--textSoft);
    margin-bottom: 20px;
}